  html,body {
      scroll-behavior: smooth;
      scroll-padding-top: 80px;
    }
    body{
      background-color: #F5E6D3;
      padding: 15px 20px 20px 20px;
      font-family: Robot, Arial;
    }
    .container {
      background-image: linear-gradient(to top right ,#3f2513 50%, rgba(99, 75, 47, 0.5));
      color: #F5E6D3;
      height: 1700px;
      border-radius: 10px;
      padding: 15px 30px 30px 30px;
    }
    .header{
      display: flex;
      margin-bottom: 20px;
      background-color: #F5E6D3;
      border-radius: 5px;
      justify-content: space-between;
      color: #3a2618;
      align-items: center;
    }
    .left-section {
      display: flex;
      margin-left: 15px;
      align-items: center;
    }
    .right-section {
      display: flex;
      margin-left: 15px;
      justify-content: space-around;
      align-items: center;
      margin-right: 15px;
    }
    .slow-brew-logo {
      height: 40px;
      border-radius: 20px;
      margin-right: 5px;
    }
    .brand-name {
      font-family: Robot, Arial;
      font-weight: bold;
    }
    .login-btn,.form-button {
      border: none;
      background-image: linear-gradient(to top left,#3f2513 50%, rgba(99, 75, 47, 0.5));
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color: #F5E6D3;
      padding: 8px 15px;
      font-family: Roboto, Arial;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      border-radius: 18px;
      transition: 0.5s;
    }
    .form-button {
      background-image: linear-gradient(to top left,#3f2513 50%, rgba(99, 75, 47, 0.5));
    }
    .login-btn:hover {
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
      box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.5);
      color: #F5E6D3;
    }
    .form-button:hover {
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
      color: #F5E6D3;
      padding: 10px 25px;
      border-radius: 35px;
      font-weight: bold;
      font-size: 17px;
    }
    .hero-section {
      background-image: url("Pictures/coffee\ 18.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      text-align: center;
      border-radius: 5px;
      padding: 5px 15px 25px 15px;
    }
    .product-highlight {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 80%);
      border-radius: 5px;
      padding: 15px 10px 15px 18px;
      margin-bottom: 30px;
    }
    .non-coffee-products-highlight{
      height: 279px;
    }
    
    .product-container {
      display: flex;
      flex-direction: column;
      width: 160px;
      border-radius: 10px;
      background-color: #3a2618;
      box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.4);
    }
    .drink-image{
      height: 170px;
      border-top-right-radius: 5px;
      object-fit: cover;
      border-top-left-radius: 6px;
      margin-bottom: 5px;
    }
    .drink-name {
      font-size: 15px;
      color: #f3b25d;
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 2px;
      margin-right: 10px;
    }
    .description {
      margin-top: 0px;
      color: rgb(245, 230, 211);
      font-size: 12px;
      width: 140px;
      font-weight: bold;
      margin-left: 10px;
      vertical-align: top;
      margin-top: 0px;
    }
    .feedbacks-container {
      display: grid;
      grid-template-columns: 1fr;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
      border-radius: 5px;
      padding: 15px 10px 15px 18px;
      margin-bottom: 50px;
    }

    .customer-profile {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-left: 10px;
      margin-right: 10px;
    }
    .feedback-left-section {
      display: flex;
      justify-content: space-around;
      align-items: start;
    }
    .feedback-right-section {
      padding-top: 10px;
    }
    .profile-pics-container, .info-and-feedback-container {
      margin-top: 5px;
    }
    .profile-pics-container {
      padding-top: 6px;
    }
    .info-and-feedback-container {
      padding-left: 8px;
      padding-top: 8px;
    }
    .profile-pics {
      height: 30px;
      border-radius: 15px;
    }
    .customer-name {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .customer-rating {
      height: 20px;
      margin-left: 45px;
      vertical-align: top;
    }
    .feedback {
      margin-top: 0px;
      font-size: 12px;
      margin-left: 2px;
      width: 300px;
      font-weight: 600;
    }
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      padding: 30px 0px 0px 58px;
    }
   .location-column {
      border-right: solid 1px;
      margin-right: 10px;
      padding-right: 10px;
    }
    .column-header {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .work-time,.Address {
      font-size: 10px;
    }
    .contact-icon {
      height: 20px;
      margin-top: 10px;
      border-radius: 25px;
      margin-right: 6px;
      background-color: transparent;
    }
    .phone-icon, .ingram-icon, .email-icon, .whatsapp-icon {
      margin-left: 15px;
    }
    .whatsapp-contact, .ingram-contact, .email-contact {
      color: #F5E6D3;
      display: inline-block;
      font-weight: bold;
      font-size: 10px;
    }
    .navigations {
      display: flex;
      justify-content: space-around;
      margin-right: 15px;
    }

    .nav {
      text-decoration: none;
      color:#3a2618;
      font-size: 12px;
      margin-right: 5px;
      font-weight: 770;
      transition: 0.5s;
    }

    .nav:hover {
      text-decoration: underline;
      margin-top: -1px;
      font-size: 14px;
    }
    @media (min-width: 501px) and (max-width: 1199px) {
      body{
      background-color: #F5E6D3;
      padding: 15px 20px 20px 20px;
      font-family: Robot, Arial;
    }
    .container {
      background-image: linear-gradient(to top right ,#3f2513 50%, rgba(99, 75, 47, 0.5));
      color: #F5E6D3;
      height: 1700px;
      border-radius: 10px;
      padding: 15px 30px 30px 30px;
    }
    .header{
      display: flex;
      margin-bottom: 20px;
      background-color: #F5E6D3;
      border-radius: 5px;
      justify-content: space-between;
      color: #3a2618;
      align-items: center;
    }
    .left-section {
      display: flex;
      margin-left: 15px;
      align-items: center;
    }
    .right-section {
      display: flex;
      margin-left: 15px;
      justify-content: space-around;
      align-items: center;
      margin-right: 15px;
    }
    .slow-brew-logo {
      height: 40px;
      border-radius: 20px;
      margin-right: 5px;
    }
    .brand-name {
      font-family: Robot, Arial;
      font-weight: bold;
    }
    .login-btn,.form-button {
      border: none;
      background-image: linear-gradient(to top left,#3f2513 50%, rgba(99, 75, 47, 0.5));
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color: #F5E6D3;
      padding: 8px 15px;
      font-family: Roboto, Arial;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      border-radius: 18px;
      transition: 0.5s;
    }
    .form-button {
      background-image: linear-gradient(to top left,#3f2513 50%, rgba(99, 75, 47, 0.5));
    }
    .login-btn:hover {
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
      box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.5);
      color: #F5E6D3;
    }
    .form-button:hover {
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
      color: #F5E6D3;
      padding: 10px 25px;
      border-radius: 35px;
      font-weight: bold;
      font-size: 17px;
    }
    .hero-section {
      background-image: url("Pictures/coffee\ 18.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      text-align: center;
      border-radius: 5px;
      padding: 5px 15px 25px 15px;
    }
    .product-highlight {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 80%);
      border-radius: 5px;
      padding: 15px 10px 15px 18px;
      margin-bottom: 30px;
    }
    .non-coffee-products-highlight{
      height: 279px;
    }
    
    .product-container {
      display: flex;
      flex-direction: column;
      width: 160px;
      border-radius: 10px;
      background-color: #3a2618;
      box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.4);
    }
    .drink-image{
      height: 170px;
      border-top-right-radius: 5px;
      object-fit: cover;
      border-top-left-radius: 6px;
      margin-bottom: 5px;
    }
    .drink-name {
      font-size: 15px;
      color: #f3b25d;
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 2px;
      margin-right: 10px;
    }
    .description {
      margin-top: 0px;
      color: rgb(245, 230, 211);
      font-size: 12px;
      width: 140px;
      font-weight: bold;
      margin-left: 10px;
      vertical-align: top;
      margin-top: 0px;
    }
    .feedbacks-container {
      display: grid;
      grid-template-columns: 1fr;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
      border-radius: 5px;
      padding: 15px 10px 15px 18px;
      margin-bottom: 50px;
    }

    .customer-profile {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-left: 10px;
      margin-right: 10px;
    }
    .feedback-left-section {
      display: flex;
      justify-content: space-around;
      align-items: start;
    }
    .feedback-right-section {
      padding-top: 10px;
    }
    .profile-pics-container, .info-and-feedback-container {
      margin-top: 5px;
    }
    .profile-pics-container {
      padding-top: 6px;
    }
    .info-and-feedback-container {
      padding-left: 8px;
      padding-top: 8px;
    }
    .profile-pics {
      height: 30px;
      border-radius: 15px;
    }
    .customer-name {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .customer-rating {
      height: 20px;
      margin-left: 45px;
      vertical-align: top;
    }
    .feedback {
      margin-top: 0px;
      font-size: 12px;
      margin-left: 2px;
      width: 300px;
      font-weight: 600;
    }
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      padding: 30px 0px 0px 58px;
    }
   .location-column {
      border-right: solid 1px;
      margin-right: 10px;
      padding-right: 10px;
    }
    .column-header {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .work-time,.Address {
      font-size: 10px;
    }
    .contact-icon {
      height: 20px;
      margin-top: 10px;
      border-radius: 25px;
      margin-right: 6px;
      background-color: transparent;
    }
    .phone-icon, .ingram-icon, .email-icon, .whatsapp-icon {
      margin-left: 15px;
    }
    .whatsapp-contact, .ingram-contact, .email-contact {
      color: #F5E6D3;
      display: inline-block;
      font-weight: bold;
      font-size: 10px;
    }
    .navigations {
      display: flex;
      justify-content: space-around;
      margin-right: 15px;
    }

    .nav {
      text-decoration: none;
      color:#3a2618;
      font-size: 12px;
      margin-right: 5px;
      font-weight: 770;
      transition: 0.5s;
    }

    .nav:hover {
      text-decoration: underline;
      margin-top: -1px;
      font-size: 14px;
    }
    }
    @media  (max-width: 664px) {
      html,body {
        scroll-behavior: smooth;
        scroll-padding-top: 0px;
      }
      body{
        background-color: #F5E6D3;
        padding: 15px 20px 20px 20px;
        font-family: Robot, Arial;
      }
      .container {
        background-image: linear-gradient(to top right ,#3f2513 50%, rgba(99, 75, 47, 0.5));
        color: #F5E6D3;
        height: 1650px;
        border-radius: 10px;
        padding: 15px 30px 0px 30px;
      }
      .header{
        display: flex;
        margin-bottom: 20px;
        background-color: #F5E6D3;
        border-radius: 5px;
        justify-content: space-between;
        color: #3a2618;
        align-items: center;
      }
      .left-section {
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        margin-left: 10px;
        align-items: center;
      }
      .right-section {
        display: flex;
        margin-left: 15px;
        justify-content: space-around;
        align-items: center;
        margin-right: 12px;
        flex-shrink: 0;
      }
      .slow-brew-logo {
        height: 30px;
        border-radius: 15px;
        margin-right: 5px;
      }
      .brand-name {
        font-family: Robot, Arial;
        font-size: 14px;
        font-weight: bold;
      }
      .navigations {
        display: flex;
        justify-content: space-around;
        margin-right: 6px;
      }

      .nav {
        text-decoration: none;
        color:#3a2618;
        font-size: 11px;
        margin-right: 4px;
        font-weight: 770;
        transition: 0.5s;
      }

      .nav:hover {
        text-decoration: underline;
        margin-top: -1px;
        font-size: 14px;
      }
      .login-btn,.form-button {
        border: none;
        background-image: linear-gradient(to top left,#3f2513 50%, rgba(99, 75, 47, 0.5));
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        color: #F5E6D3;
        padding: 8px 15px;
        font-family: Roboto, Arial;
        font-weight: bold;
        font-size: 10px;
        cursor: pointer;
        border-radius: 18px;
        transition: 0.5s;
      }
      .form-button {
        background-image: linear-gradient(to top left,#3f2513 50%, rgba(99, 75, 47, 0.5));
      }
      .login-btn:hover {
        background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
        box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.5);
        color: #F5E6D3;
      }
      .form-button:hover {
        background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
        color: #F5E6D3;
        padding: 8px 20px;
        border-radius: 35px;
        font-weight: bold;
        font-size: 14px;
      }
      .hero-section {
        background-image: url("Pictures/coffee\ 18.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 200px;
        object-position: center;
        text-align: center;
        border-radius: 5px;
        padding: 1px 12px 25px 15px;
      }
      .hero {
        font-size: 24px;
      }

      .brand-description {
        font-size: 12px;
      }

      #Products {
        font-size: 25px;
      }

      .product-category {
        font-size: 17px;
      }
      .product-highlight {
        display: flex;
        justify-content: space-between;
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 80%);
        border-radius: 5px;
        column-gap: 10px;
        height: 269px;
        padding: 10px 25px 15px 20px;
        margin-bottom: 30px;
      }
      .non-coffee-products-highlight product-container{
        width: 110px;
      }
      .coffee-products-highlight {
        padding: 15px 25px 15px 10px;
      }
      .product-container {
        display: flex;
        width: 110px;
        flex-direction: column;
        border-radius: 5px;
        background-color: #3a2618;
        box-shadow: -1px -2px 2px rgb(245, 230, 211, 0.4);
      }
      .drink-image {
        border-top-right-radius: 5px;
        object-position: center;
        object-fit: cover;
        height: 150px;
        border-top-left-radius: 5px;
        margin-bottom: 5px;
      }
      .drink-name {
        font-size: 12px;
        color: #f3b25d;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 2px;
        margin-right: 10px;
      }
      .description {
        margin-top: 0px;
        color: rgb(245, 230, 211);
        font-size: 10px;
        width: 90px;
        font-weight: bold;
        margin-left: 10px;
        vertical-align: top;
        margin-top: 0px;
      }
      .feedbacks-container {
        display: grid;
        grid-template-columns: 1fr;
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
        border-radius: 5px;
        padding: 15px 10px 15px 10px;
        margin-bottom: 50px;
      }

      .customer-profile {
        display: flex;
        justify-content: space-around;
        align-items: start;
        margin-left: 10px;
        margin-right: 10px;
      }
      .feedback-left-section {
        display: flex;
        justify-content: space-around;
        align-items: start;
      }
      .feedback-right-section {
        padding-top: 10px;
      }
      .profile-pics-container, .info-and-feedback-container {
        margin-top: 5px;
      }
      .profile-pics-container {
        padding-top: 6px;
      }
      .info-and-feedback-container {
        padding-left: 8px;
        padding-top: 8px;
      }
      .profile-pics {
        height: 30px;
        border-radius: 15px;
      }
      .customer-name {
        margin-top: 0px;
        font-size: 15px;
        margin-bottom: 0px;
      }
      .customer-rating {
        height: 10px;
        margin-left: 20px;
        vertical-align: top;
      }
      .feedback {
        margin-top: 0px;
        font-size: 10px;
        margin-left: 2px;
        width: 220px;
        font-weight: 600;
      }
      .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 30px 0px 0px 30px;
      }
      .location-column {
        border-right: solid 1px;
        margin-right: 10px;
        padding-right: 10px;
      }
      .column-header {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .work-time,.Address {
        font-size: 10px;
      }
      .contact-icon {
        height: 20px;
        margin-top: 10px;
        border-radius: 25px;
        margin-right: 6px;
        background-color: transparent;
      }
      .phone-icon, .ingram-icon, .email-icon, .whatsapp-icon {
        margin-left: 15px;
      }
      .whatsapp-contact, .ingram-contact, .email-contact {
        color: #F5E6D3;
        display: inline-block;
        font-weight: bold;
        font-size: 10px;
      }
      .copyright {
        font-size: 10px;
        width: 190px;
        margin-top: 35px;
      }
      
    }

@media  (min-width: 1200px) {
      body{
      background-color: #F5E6D3;
      padding: 15px 20px 20px 20px;
      font-family: Robot, Arial;
    }
    .container {
      background-image: linear-gradient(to top right ,#3f2513 90%, rgba(99, 75, 47, 0.5));
      color: #F5E6D3;
      height: 1360px;
      border-radius: 10px;
      padding: 15px 30px 30px 30px;
    }
    .header{
      display: flex;
      margin-bottom: 20px;
      background-color: #F5E6D3;
      border-radius: 5px;
      justify-content: space-between;
      color: #3a2618;
      align-items: center;
    }
    .left-section {
      display: flex;
      margin-left: 15px;
      align-items: center;
    }
    .right-section {
      display: flex;
      margin-left: 15px;
      justify-content: space-around;
      align-items: center;
      margin-right: 15px;
    }
    .slow-brew-logo {
      height: 40px;
      border-radius: 20px;
      margin-right: 5px;
    }
    .brand-name {
      font-family: Robot, Arial;
      font-weight: bold;
    }
    .login-btn,.form-button {
      border: none;
      background-image: linear-gradient(to top left,#3f2513 50%, rgba(99, 75, 47, 0.5));
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color: #F5E6D3;
      padding: 8px 15px;
      font-family: Roboto, Arial;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      border-radius: 18px;
      transition: 0.5s;
    }
    .form-button {
      background-image: linear-gradient(to top left,#3f2513 50%, rgba(99, 75, 47, 0.5));
    }
    .login-btn:hover {
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
      box-shadow: -1px -2px 5px rgba(0, 0, 0, 0.5);
      color: #F5E6D3;
    }
    .form-button:hover {
      background-image: linear-gradient(to bottom right,#3f2513 , rgba(99, 75, 47, 0.5) 70%);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
      color: #F5E6D3;
      padding: 10px 25px;
      border-radius: 35px;
      font-weight: bold;
      font-size: 17px;
    }
    .hero-section {
      background-image: url("Pictures/coffee\ 18.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      text-align: center;
      height:fit-content;
      border-radius: 5px;
      padding: 5px 15px 25px 15px;
    }
    .product-category-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }
    .coffee-products-highlight,.non-coffee-products-highlight{
      column-gap: -10px;
    }
    .non-coffee-products-highlight{
      height: 269px;
    }
    .product-highlight {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 80%);
      border-radius: 5px;
      flex-shrink: 0;
      padding: 30px 10px 30px 30px;
      margin-bottom: 30px;
    }
    
    .product-container {
      display: flex;
      grid-template-columns: 1fr;
      width: 160px;
      border-radius: 10px;
      margin-left: 0px;
      background-color: #3a2618;
      box-shadow: -1px -2px 2px rgb(245, 230, 211, 0.4);
    }
    .drink-image {
      height: 160px;
      border-top-right-radius: 5px;
      object-position: center;
      object-fit: cover;
      border-top-left-radius: 5px;
      margin-bottom: 5px;
    }
    .drink-name {
      font-size: 15px;
      color: #f3b25d;
      margin-left: 10px;
      margin-top: 0px;
      margin-bottom: 2px;
      margin-right: 10px;
    }
    .description {
      margin-top: 0px;
      color: rgb(245, 230, 211);
      font-size: 12px;
      width: 140px;
      font-weight: bold;
      margin-left: 10px;
      vertical-align: top;
      margin-top: 0px;
    }
    .feedbacks-container {
      display: grid;
      grid-template-columns: 1fr;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(to bottom right,#3f2513, rgba(99, 75, 47, 0.5) 70%);
      border-radius: 5px;
      padding: 15px 10px 15px 18px;
      margin-bottom: 50px;
    }

    .customer-profile {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-left: 10px;
      margin-right: 10px;
    }
    .feedback-left-section {
      display: flex;
      justify-content: space-around;
      align-items: start;
    }
    .feedback-right-section {
      padding-top: 10px;
    }
    .profile-pics-container, .info-and-feedback-container {
      margin-top: 5px;
    }
    .profile-pics-container {
      padding-top: 6px;
    }
    .info-and-feedback-container {
      padding-left: 8px;
      padding-top: 8px;
    }
    .profile-pics {
      height: 30px;
      border-radius: 15px;
    }
    .customer-name {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .customer-rating {
      height: 20px;
      margin-left: 45px;
      vertical-align: top;
    }
    .feedback {
      margin-top: 0px;
      font-size: 12px;
      margin-left: 2px;
      width: 300px;
      font-weight: 600;
    }
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      padding: 30px 0px 15px 58px;
    }
   .location-column {
      border-right: solid 1px;
      margin-right: 10px;
      padding-right: 10px;
    }
    .contact-column {
      padding-left: 100px;
    }
    .column-header {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .work-time,.Address {
      font-size: 10px;
    }
    .contact-icon {
      height: 20px;
      margin-top: 10px;
      border-radius: 25px;
      margin-right: 6px;
      background-color: transparent;
    }
    .phone-icon, .ingram-icon, .email-icon, .whatsapp-icon {
      margin-left: 15px;
    }
    .whatsapp-contact, .ingram-contact, .email-contact {
      color: #F5E6D3;
      display: inline-block;
      font-weight: bold;
      font-size: 10px;
    }
    .navigations {
      display: flex;
      justify-content: space-around;
      margin-right: 15px;
    }

    .nav {
      text-decoration: none;
      color:#3a2618;
      font-size: 12px;
      margin-right: 5px;
      font-weight: 770;
      transition: 0.5s;
    }

    .nav:hover {
      text-decoration: underline;
      margin-top: -1px;
      font-size: 14px;
    }
    }
    